<p>
  <strong>Is insta:</strong>
  <%= @setting.is_insta %>
  <% if @setting.is_insta %>
    <%= @user.username %> |
    follower: <%= @user.follower_count %> / follow: <%= @user.follow_count %><br/>
    <button id="release_insta_integration">Instagram連携解除</button>
  <% else %>
    <%= link_to 'Facebook連携', '/auth/facebook' %>
    <button id="enable_insta_integration">Instagram連携</button>
  <% end %>
</p>

<p>
  <strong>Display mode:</strong>
  <%= @setting.display_mode %>
</p>

<%= link_to 'TOP', root_path %>
