<p>
  <strong>Instagram</strong>
  <div>
    <% if @setting.is_insta %>
      <%= @user.username %><br />
      followes: <%= @user.follower_count %> / following: <%= @user.follow_count %><br/>
      <%= link_to 'Instagram連携更新', '/auth/facebook' %>
    <% else %>
      <%= link_to 'Instagram連携', '/auth/facebook' %>
    <% end %>
  </div>
</p>

<p>
  <strong>Display mode:</strong>
  <%= @setting.display_mode %>
</p>

<%= link_to 'TOP', root_path %>
